
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.todobody{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

.buttoncolor{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.darkdiv{
    background-color: black;
    border: 1px solid white;
    color: white;
}